<html>
    <head>
        {% if title %}
        <title>{{ title }} - Dan's Webiste </title>
        {% else %}
        <title>Welcomes to Dan's Website</title>
        {% endif %}
    </head>
    <body>
        <div> Dan's Website: 
            <a href="/index" > Home </a>
            <a href = '/login'> login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messaged %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>