body {
    color: #000;
    background-color: #BFDBF7;
    font-family: sans-serif;
    font-size: 16px;
}


/* Navbar built in Bootstrap - colours customised */
.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #1F7A8C;
    font-size: 1.3em;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover  {
    color: #FFF;
    background-color: #022B3A;
    font-weight: bold;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover  {
    color: #000;
    background-color: #1F7A8C;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

.container-fluid {
    margin: 20px;
}

.box {
    padding: 50px;
    margin: auto;
    border: 2px black solid;
}

table {
    border: 2px solid black;
}

th {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    background-color: #1F7A8C;
}

td {
    border: 1px solid black;
    padding: 10px;
}

tr:hover {
    background-color: #A5FFD6;
    font-weight: bold;
}

tr:first-child:hover {
    color: black;
}

/* Button styles */
button {
    background-color: #1F7A8C;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

button:hover {
    background-color: #A5FFD6;
    color: black;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.button-link {
    background-color: #1F7A8C;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.button-link:hover {
    background-color: #A5FFD6;
    color: black;
}

.button-link:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

canvas {
    width: 40px;
    height: 40px;
}

img {
    margin: auto;
    padding: 20px;
}

.welcome {
    margin: auto;
    padding: 20px;
    border: 4px dashed #022B3A;
}

.avatar {
    margin: 50px;
    border:2px double black;
    padding: 0px;
}

#run-image {
  height: 400px;
  width: 400px;  
}

#walk-image {
    height: 300px;
    width: 500px;
}

.results-textbox-1 {
    background-color: #B892FF;
    border-radius: 25px;
    padding: 10px 5px 10px;
    box-shadow: 10px 10px 5px grey;
}

.results-textbox-2 {
    background-color: #1F7A8C;
    border-radius: 25px;
    padding: 10px 5px 10px;
    box-shadow: 10px 10px 5px grey;
}

.exercise-text {
    border: 4px dashed #1F7A8C;
    padding: 0px;
    margin-right: 100px;
    font-size: 14px;
}

#run-small { 
    height: 70px;
    width: 60px;
    padding: 0px;
    margin: 0px;
}

#walk-small { 
    height: 60px;
    width: 50px;
    padding: 0px;
    margin: 0px;
}

.centred-button {
    display: block;
    margin: 0 auto;
}

#user-exercise-list {
    height: 800px;
    width: 700px;
    overflow: auto;
}

.user-table {
    width: 80%;
}

.table-avatar {
    width: 25%;
}

.table-username {
    width: 25%;
}

.table-coach {
    width: 25%;
}

.table-profile {
    width: 25%;
}