<div class="exercise-text">
  <br>
  <p>User: <b>{{ exercise.user }}</b></p>
  <p>Date: <b>{{ exercise.exercise_date.strftime("%A, %d %B %Y") }}</b></p>
  {% if exercise.style == "Run" %}
  <p><span><img src='/static/assets/running-small.png' id='run-small'></span>Type of exercise: <b>{{ exercise.style }}</b><span><img src='/static/assets/running-small.png' id='run-small'></span></p>
  {% elif exercise.style == "Walk" %}
  <p><span><img src='/static/assets/walk-small.png' id='walk-small'></span>Type of exercise: <b>{{ exercise.style }}</b><span><img src='/static/assets/walk-small.png' id='walk-small'></span></p>
  {% endif %}
  <p>Time: <b>{{ exercise.time }}</b> minutes</p>
  <p>Distance: <b>{{exercise.distance }}</b></p>
  <p>Rating: <b>{{ exercise.rate_exercise }}</b> out of 10</p>
  <p>Comment: {{ exercise.exercise_comments }}</p>
  <br>
</div>