<div class="container-fluid">
  <div class="col-sm-12">
    <p>
      <img src="{{ exercise.user.avatar(36) }}">
      <b>{{ exercise.user.username }}</b>
      <br> Exercise: <b>{{ exercise.style }}</b> 
      <br> Time: {{ exercise.time }}
      {% if user == current_user %}
      <td>
        <button class="del-button btn btn-danger" style="display:none;" onclick="deleteAPI('{{ exercise.id }}');">Delete</button>
        <form action="{{url_for('delete_post', exercise_id=exercise.id)}}"
         method="post" class = "test" style="display: none;">
          <input type='submit' value="Delete" class="btn btn-danger">
        </form>
        <button class="#" style="display: none;">Delete</button>
      </td>
      {% endif %}
    </p>
  </div>
</div>