{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 text-center">
        <img src="/static/assets/logo.png" alt="App logo">
      </div>
      <div class="col-sm-6 text-center">
        <br>
        <br>
        <h1 class="welcome">Administrator view</h1>
      </div>
      <div class="col-sm-3"></div>
    </div>
</div>


<div class="container-fluid">
    <div class="col-sm-12">
      <h1>Add User</h1>
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}<br>
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.email.label }}<br>
              {{ form.email(size=64) }}<br>
              {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}<br>
              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>

          <p>
            {{ form.admin.label }}<br>
            {{ form.admin }}<br>
            {% for error in form.admin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>

          <p>
            {{ form.coach.label }}<br>
            {{ form.coach }}<br>
            {% for error in form.coach.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>

          <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>

{% endblock %}