{% extends "base.html" %}

{% block body_attrs %} onload="adminSignIn('{{ current_user.username }}:{{ password }}');" {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <h1 class="welcome">Administrator view</h1>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div>
    <a href="{{ url_for('add_user') }}" class="button-link">Add User</a>
    <a href="{{ url_for('admin_delete_user') }}" class="button-link"> Delete User</a>

  </div>

  <div class="row">
    <div class="col-sm-12">
        <h2>Edit Users</h2>
        <h3>User table</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
        <br>
        <div id="user-table"></div>
    </div>
    <div class="col-sm-6">
        <div id="exercise-table"></div>
    </div>
  </div>  
</div>

{% endblock %}