{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 text-center">
        <img src="/static/assets/logo.png" alt="App logo">
      </div>
      <div class="col-sm-6 text-center">
        <br>
        <br>
        <h1 class="welcome">Administrator view</h1>
      </div>
      <div class="col-sm-3"></div>
    </div>




  <hr>
  <div class="row">
    <div class="col-sm-6 text-center">
      <h3>All users</h3>
      <br>
      <table class="user-table" align="center">
        <tr>
          <th class="table-avatar">Avatar</th>
          <th class="table-username">Username</th>
          <th class="table-coach">Coach Y/N</th>
          <th class="table-profile">Profile</th>
        </tr>
          {% for user in users %}
            {% if user != current_user %}
            <tr>
            <td><img src="{{ user.avatar(128) }}"></td>
            <td style="text-align: center">{{ user.username }}</td>
            {% if user.is_coach %}
            <td style="text-align: center">Yes</td>
            {% else %}
            <td style="text-align: center">No</td>
            {% endif %}
            <td><a class="button-link" href="{{ url_for('delete_user', username=user.username) }}">Delete</a></td>
            </tr>
            {% endif %}
          {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}