{% extends "base.html" %}

{% block body_attrs %} 
onload="fastestRunData(); getGroupGraph(); exerciseTime();"
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <h1 class="welcome">Group view</h1>
    </div>
    <div class="col-sm-3 text-center">
        <img src="/static/assets/logo.png" alt="App logo">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Welcome to the Group View page!</h2>
      <p>Here you can see a summary of your team's progress and compare where you sit.</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-6">
        <h3>Here's how many exercises your team members have posted:</h3>
        <canvas id="chart" width="400" height="200"></canvas>
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <br>
      <br>
      <img src="/static/assets/runners.png" alt="Runners" id="runners-img">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 text-center">
      <img src="/static/assets/runners2.png" alt="Runners" id="runners2-img">
    </div>
    <div class="col-sm-6">
      <h3>Here's how many kilometres your team members have racked up to-date:</h3>
        <canvas id="chart3" width="400" height="200"></canvas>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-6">
        <h3>Here are the fastest exercises your team members have posted:</h3>
        <canvas id="chart2" width="400" height="200"></canvas>
      </div>
      <div class="col-sm-6 text-center">
        <br>
        <br>
        <br>
        <br>
        <img src="/static/assets/runners3.png" alt="Runners" id="runners3-img">
      </div>
  </div>
</div>
  

{% endblock %}