{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <h1 class="welcome" id="greeting">Welcome to FitTrack App, {{ current_user.username }}!</h1>
    </div>
    <div class="col-sm-3 text-center">
      <img class="avatar" src="{{ user.avatar(128) }}" alt="User avatar">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>This app was designed for sports teams, clubs and groups of friends to track their fitness data,
        compare against others and track their progress over time.</h2>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h3>Enter an exercise</h3>
      <p>To enter an exercise or activity, simply go to the Quiz page in the navigation menu, or click
        the button below:</p>
      <br>
      <div class="text-center">
        <a class="button-link" href="{{ url_for('quiz') }}">Exercise Quiz</a>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>See Results</h3>
      <p>Already entered exercise and want to see your results? You can see individual exercise quiz 
        entries on your Profile page.</p>
      <br>
      <div class="text-center">
        <a class="button-link" href="{{ url_for('user', username=current_user.username) }}">Your Profile</a>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>View Group Results</h3>
      <p>In the FitTrack app, you can see the aggregated results of all your team members and visualise
         where you sit.  The Group View page displays results graphs for all group members for each type
         of activity.</p>
      <br>
      <div class="text-center">
        <a class="button-link" href="{{ url_for('groupview') }}">Group Results</a>
      </div>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>


{% endblock %}