{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <h1 class="welcome">Welcome to FitTrack App</h1>
    </div>
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>The app for tracking fitness data and comparing with your friends</h2>
      <br>
      <br>
      <h3>Sign in below to access the app.</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
      <br>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}<br>
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}<br>
              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}