{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <h1 class="welcome">FitTrack App Quiz</h1>
    </div>
    <div class="col-sm-3 text-center">
      <img class="avatar" src="{{ user.avatar(128) }}" alt="User avatar">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Here you can enter details of your activity.</p>
      <p>You can take this quiz as many times as you like, once for each activity.</p>
      <p>Results from this form will be presented on the Results page and included on your user profile.</p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Enter your exercise data in the form below:</h2>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.style.label }}<br>
            {{ form.style(cols=32, rows=4) }}<br>
            {% for error in form.style.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.distance.label }}
            <br>
            {{ form.distance(cols=32, rows=4) }}<br>
            {% for error in form.distance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.time.label }}
            <br>
            {{ form.time(cols=32, rows=4) }}<br>
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.date.label }}
            <br>
            {{ form.date(cols=32, rows=4) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.rate_exercise.label }}
            <br>
            {{ form.rate_exercise(cols=32, rows=4) }}<br>
            {% for error in form.rate_exercise.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.exercise_comments.label }}
            <br>
            {{ form.exercise_comments(cols=32, rows=4) }}<br>
            {% for error in form.exercise_comments.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>
</div>

{% endblock %}