{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <h1 class="welcome">See All Users</h1>
    </div>
    <div class="col-sm-3 text-center">
        <img src="/static/assets/logo.png" alt="App logo">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Search for users here, view profiles and follow users you would like to see more of.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 text-center">
      <h2>All users</h2>
      <br>
      <table class="user-table" align="center">
        <tr>
          <th class="table-avatar">Avatar</th>
          <th class="table-username">Username</th>
          <th class="table-coach">Coach Y/N</th>
          <th class="table-profile">Profile</th>
        </tr>
          {% for user in users %}
            {% if user != current_user %}
            <tr>
            <td><img src="{{ user.avatar(128) }}"></td>
            <td style="text-align: center">{{ user.username }}</td>
            {% if user.is_coach %}
            <td style="text-align: center">Yes</td>
            {% else %}
            <td style="text-align: center">No</td>
            {% endif %}
            <td><a class="button-link" href="{{ url_for('user', username=user.username) }}">Link to profile</a></td>
            </tr>
            {% endif %}
          {% endfor %}
      </table>
    </div>
    <div class="col-sm-6 text-center">
      <h2>Latest updates from your followed users:</h2>
      <br>
      </div>
  </div>
</div>

{% endblock %}