{% extends "base.html" %}

{% block body_attrs %} onload="getUserExercise({{ user.id }});" {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img src="/static/assets/logo.png" alt="App logo">
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      {% if current_user == user %}
      <h1 class="welcome">Welcome to your profile page, {{ current_user.username }}!</h1>
      {% else %}
      <h1 class="welcome">Welcome to <b>{{ user.username }}'s</b> profile!</h1>
      {% endif %}
    </div>
    <div class="col-sm-3 text-center">
      <img class="avatar" src="{{ user.avatar(128) }}" alt="User avatar">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <h1>Details</h1>

      <h2>{{ user.username }}'s current goal is to  {{ user.goals }}</h2>

      {% if user.is_coach %}
      {% if user == current_user %}
      <h2>You are a Coach</h2>
      {% else %}
      <h2>{{ user }} is a Coach</h2>
      {% endif %}
      {% endif %}

      {% if current_user.is_coach %}
      {% if current_user.goal is defined %}
      <p><a class="button-link" href="{{ url_for('set_goal', username=user.username) }}">Change Goal</a></p>
      {% else %}
      <p><a class="button-link" href="{{ url_for('set_goal', username=user.username) }}">Set Goal</a></p>
      {% endif %}
      {% endif %}

      

      {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
      {% if user.last_seen %}<p>Last seen on: <b>{{ user.last_seen|formatdatetime_long }}</b></p>{% endif %}
      <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
      {% if user == current_user %}
      <p><a class="button-link" href="{{ url_for('edit_profile') }}">Edit your profile</a></p>

      {% elif not current_user.is_following(user) %}

      {% if user != current_user %}
      <p>
          <a href="{{ url_for('send_message',
                              recipient=user.username) }}">
              {{ ('Send private message') }}
          </a>
      </p>
      {% endif %}
      

      <p>
          <form action="{{ url_for('follow', username=user.username) }}" method="post">
              {{ form.hidden_tag() }}
              {{ form.submit(value='Follow') }}
          </form>
      </p>
      {% else %}
      <p>
          <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
              {{ form.hidden_tag() }}
              {{ form.submit(value='Unfollow') }}
          </form>
      </p>
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      {% if user == current_user %}
      <button class="btn btn-danger" id='show_delete_btn' onclick="showDeleteButton()">Toggle Delete Exercise</button>
      {% endif %}
      <div id="user-exercise-list" class="text-center"></div>
    </div>
    <div class="col-sm-3"></div>
    {% if user == current_user %}
    <div class="col-sm-6 text-center">
      <h2>Your exercises to-date</h2>
      <button onclick="getGraph({{ current_user.id }})">See graphs</button>
      <br>
      <br>
      <canvas id="barChart"></canvas>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
